<br>
<br>
<br>
<h1 class="display-1 animated fadeIn text-center">Catalogo <small>Productos</small></h1>
<nav aria-label="breadcrumb fadeIn">
    <ol class="breadcrumb fadeIn">
        <li class="breadcrumb-item"><a href="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Catalogo</li>
    </ol>
  </nav>
  <section id="galeria">
  
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="/assets/imagenes/comida1.jpg" alt="">
        <div class="item">
            <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
            <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
        </div>
       
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="/assets/imagenes/comida2.jpg" alt="">
        <div class="item">
            <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
            <h4>Empanada  <small [ngStyle]="{'color':'red'}">$7,000</small></h4>
        </div>
       
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="item2">
            <img src="/assets/imagenes/comida3.jpg" alt="" class="portafolio-img">
        </div>
      
        <div class="item">
            <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
            <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
        </div>
       
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="/assets/imagenes/comida4.jpg" alt="">
        <div class="item">
            <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
            <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
         
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="/assets/imagenes/comida5.jpg" alt="">
        <div class="item">
            <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
            <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="/assets/imagenes/comida6.jpg" alt="">
        <div class="item">
            <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
            <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="/assets/imagenes/comida1.jpg" alt="">
          <div class="item">
              <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
              <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
          </div>
         
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="/assets/imagenes/comida2.jpg" alt="">
          <div class="item">
              <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
              <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
          </div>
         
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="item2">
              <img src="/assets/imagenes/comida3.jpg" alt="" class="portafolio-img">
          </div>
        
          <div class="item">
              <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
              <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
          </div>
         
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="/assets/imagenes/comida4.jpg" alt="">
          <div class="item">
              <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
              <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
           
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="/assets/imagenes/comida5.jpg" alt="">
          <div class="item">
              <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
              <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <img src="/assets/imagenes/comida6.jpg" alt="">
          <div class="item">
              <button type="button" class="btn btn-warning float-right " [ngClass]="' animated bounce'"> <i class="fa fa-plus"></i> Ver mas!</button>
              <h4>Panceroti  <small [ngStyle]="{'color':'red'}">$3,000</small></h4>
          </div>
        </div>
    </div>
  </section>