<br>
<br>
<br>
<h1 class="display-1 animated fadeIn text-center">Nuestros <small>Servicios</small></h1>
<nav aria-label="breadcrumb fadeIn">
    <ol class="breadcrumb fadeIn">
        <li class="breadcrumb-item"><a href="home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">servicios</li>
    </ol>
  </nav>
  <div class="services animated bounce">
    <div class="cen">
      <div class="service">
        <i class="fa fa-bookmark"></i>
        <h2>Service Name</h2>
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="service">
        <i class="fa fa-clone"></i>
        <h2>Service Name</h2>
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="service">
        <i class="fa fa-cogs"></i>
        <h2>Service Name</h2>
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="service">
        <i class="fa fa-compress"></i>
        <h2>Service Name</h2>
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="service">
        <i class="fa fa-filter"></i>
        <h2>Service Name</h2>
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
      <div class="service">
        <i class="fa fa-fire"></i>
        <h2>Service Name</h2>
        <p>
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
           when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
    
  </div>
   <!-- Image Showcases -->
   <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>¿Quienes Somos?</h2>
          <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('/assets/img/mision.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Mision</h2>
          <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/assets/img/vision.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Vision</h2>
          <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
        </div>
      </div>
    </div>
  </section>

 

 


